name: MLflow Training Workflow

on: [push]

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: MLProject/conda.yaml 
          activate-environment: mlflow-env
          auto-activate-base: false

      - name: Run modelling
        shell: bash -l {0}
        run: |
          cd MLProject
          mlflow run . --env-manager=local
